body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Bender;
    src: local("./fonts/Bender") format("opentype");
}

h1 {
    font-family: Bender, serif;
    font-size: 40px;
}

div#nav {
    width: 100%;
    height: 8%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(50, 50, 50);
}

div#nav > h1#header {
    color: white;
    margin: 5px 0 0 25px;
    padding: 0;
}

div#home {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

div#about {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 35.25%;
    top: 0;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

div#contacts {
    width: 15%;
    height: 100%;
    position: absolute;
    left: 45.5%;
    top: 0;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

div#nav > div > a {
    font-family: Bender;;
    font-size: 30px;
    color: white;
    display: inline-block;
    float: none;
    text-decoration: none;
    margin-top: 12px;
}

div#nav > div > a.current-tab {
    color: gray;
}

div#nav > div > a.other-tab {
    color: white;
}