@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(25, 25, 25);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jetbrains Mono';
    color: white;
    margin-top: 27.5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

p {
    font-family: 'Roboto Mono';
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

div.code {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    background-color: #3c3c3c;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #3c3c3c;
    margin-bottom: 1.25%;
}

div.code > p {
    font-weight: bold;
    font-family: 'Jetbrains Mono';
    font-size: 17.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

div.code > p > span.purple {
    color: rgb(137, 52, 255);
}

div.code > p > span.yellow {
    color: rgb(240, 255, 104);
}

div.code > p > span.green {
    color: rgb(51, 255, 0);
}

div.code > p > span.comment {
    color: rgb(24, 120, 0);
}

div.code > p > span.blue {
    color: rgb(0, 162, 255);
}

div#nav {
    width: 100%;
    height: 8%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(50, 50, 50);
}

div#nav > h1#header {
    color: white;
    font-size: 40px;
    margin: 2.5px 0 0 50px;
    padding: 0;
}

div#home {
    width: 15%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

div#about {
    width: 15%;
    height: 100%;
    position: absolute;
    left: 40.2%;
    top: 0;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

div#contacts {
    width: 15%;
    height: 100%;
    position: absolute;
    left: 55.4%;
    top: 0;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

div#nav > div > a {
    font-family: 'Jetbrains Mono';
    font-size: 30px;
    color: white;
    display: inline-block;
    float: none;
    text-decoration: none;
    margin-top: 12px;
}

div#nav > div > a.current-tab {
    color: gray;
}

div#nav > div > a.other-tab {
    color: white;
}